@using Dominio;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Usuario> lista = ((List<Usuario>)ViewBag.ListaUsuarios);
}


<div class="container" style="background-color:lightslategray; width: 100%; margin-top: 100px;border-radius:5px">
    <div class="row">
        <div class="col">
            <table class="table">
                <tr style="font-size:20px" class="letra">
                    <td><strong>NombreUsuario:</strong> </td>
                    <td><strong>Nombre:</strong>  </td>
                    <td><strong>Mail:</strong> </td>

                    <td><strong>Acciones:</strong> </td>
                </tr>

                @{

                    foreach (var item in lista)
                    {
                        if (item.Estado == true)
                        {

                            <tr style="font-size:15px">
                                <td>
                                    @item.NombreUsuario
                                </td>
                                <td>@item.Nombre</td>
                                <td>
                                    @item.Email
                                </td>

                                <td>
                                    <a href="@Url.Action("FormAltaUsuario", "Home", new { idAux = item.Id })" class="btn btn-primary"style="font-size:15px">Editar</a>

                                    <a href="@Url.Action("BajaLogicaUsuario1", "Home", new { idAux = item.Id })" class="btn btn-danger"style="font-size:15px">Eliminar</a>

                                </td>

                            </tr>

                        }

                    }
                }

            </table>
        </div>
    </div>
</div>
<div style="margin-top:30px;">
    <a href="@Url.Action("FormAltaUsuario","Home")" class="btn btn-primary" style="font-size: 15px">Alta de usuario</a>

</div>
