@using Dominio
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Pedido> lista = ((List<Pedido>)ViewBag.ListaDePedidos);
    var user = (Usuario)ViewBag.user;
}


<div style="margin-top:15px; margin-left:150px">
    <a href="@Url.Action("FormAltaCliente", "Home", new { idAux = user.Id})" class="btn btn-primary" style="font-size: 15px">Modificar datos</a>
</div>

<div class="container" style="background-color:lightslategray; width: 80%; margin-top: 30px; border-radius:5px;">
    <div class="row">
        <div class="col">
            <table class="table">
                <tr style="font-size:20px" ; class="letra">
                    <td><strong>ID pedido:</strong> </td>
                   
                    <td><strong>Usuario:</strong> </td>
                    <td><strong>importe:</strong>  </td>
                    <td><strong>Fecha:</strong> </td>
                    <td><strong>Estado:</strong> </td>

                    @*<td><strong>Cantidad:</strong> </td>*@

                    <td><strong>Acciones:</strong> </td>
                </tr>





                @foreach (var item in lista)
                {


                    <tr style="font-size:15px">

                        <td>
                            @item.Id
                        </td>
                        <td>

                            @item.usuario.NombreUsuario
                        </td>
                        <td>@item.Importe</td>
                        @*<td>
                                <img src="@item.UrlImagen" style="width: 60px; height: 60px;" class="card-img-top" alt="...">
                            </td>*@


                        <td>
                            @item.Fecha

                        </td>
                        <td>
                            @item.estado.NombreEstado
                        </td>
                        <td>

                            <a href="@Url.Action("DetallePedido", "Home", new { idPedido = item.Id })" class="btn btn-primary" style="font-size: 15px">Ver detalle</a>
                        </td>
                        @*
                                        <a href="@Url.Action("Eliminar", "Home", new { idAux = item.IdProducto })" class="btn btn-danger">Eliminar</a>
                                @if (item.CantidadItem > 1)
                                {
                                    <a href="@Url.Action("QuitarUnItem", "Home", new { idAux = item.IdProducto })" class="btn btn-danger">Quitar uno</a>




                                }
                            </td>*@
                    </tr>



                }

            </table>
        </div>
    </div>
</div>
<@*div class="container" style="background-color:antiquewhite; width: 10%; margin-left:870px; margin-top:10px; border-radius:5px;">
    <h4> Precio final: </h4>
    <h4>@acu</h4>
</div>
<div style="margin-top:10px; margin-left:100px;">
    <a href="@Url.Action("Catalogo","Home")" class="btn btn-primary">Seguir comprando</a>
    <a href="@Url.Action("Compra", "Home")" class="btn btn-primary">Comprar</a>


</div>*@
